{% extends "layout.html" %}
{% block body %}


<section class="content-header">
  <h1>
    Add new CPU
    <small>Version 2.0</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<section class="content">

    <div class="box box-default">
        <div class="box-header with-border">
        <h3 class="box-title">All </h3>
        <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <!--<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button> -->
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">

        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
            <tr>
                <th>Status</th>
                <th>Name</th>
                <th>Create by </th>
                <th>Baterry</th>
                <th>Memory </th>
                <th>Communication</th>
                <th>Localization</th>
                <th>Managers</th>
                <th></th>
                <th></th>
            </tr>
                {% for cpu in allCPUs %}

                    <tr>
                        {% if cpu.status_cpu == 1 %}
                        <td><span class="label label-success">ON</span></td>
                        {% else %}
                            <td><span class="label label-danger">OFF</span></td>
                        {% endif %}
                        <td>{{ cpu.name }}</td>
                        <td>{{ cpu.create_by }} ({{ cpu.date_create|date:"d M Y" }})</td>
                        <td>{{ cpu.baterry_per_cpu }} %</td>
                        <td>{{ cpu.memory }}</td>
                        <td>{{ cpu.id_communication.name  }}</td>
                        <td>{{ cpu.localization }}</td>
                        <td>
                        {% for user in userAll %}
                            {% if user.id_cpu.id == cpu.id %}
                                {{ user.id_user.username }}
                            {% endif %}
                        {% endfor %}
                        </td>
                        <td><a type="button"  class="btn btn-block btn-info btn-xs" >Edit</a></td>
                        <td><a type="button" href="/deletecpu/{{ cpu.id }}" class="btn btn-block btn-danger btn-xs">Delete</a></td>
                    </tr>

                {% endfor %}

            </table>
        </div>
    </div>

</div>

<br/>

<button type="submit" class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal">Add</button>








</section>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>


          <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Guardar</button>
    </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>


    </form>

    </div>

  </div>
</div>





{% endblock %}
