{% extends "layout.html" %}
{% block body %}


<section class="content-header">
  <h1>
    Add new sensor
    <small>Version 2.0</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<section class="content">



{% for foo in sensor %}



    <div class="box box-default">
        <div class="box-header with-border">
        <h3 class="box-title">{{ foo.name }} </h3>
        <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <!--<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button> -->
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">

        <div class="box-body">
            <div id='container'> Chart will be rendered here </div>

        </div>

    </div>

</div>

    <br/>
{% endfor %}


</section>


{% endblock %}
