{% extends "layout.html" %}
{% block body %}

    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
        zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
        ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
    <script type="text/javascript">
        @import 'https://fonts.googleapis.com/css?family=Open+Sans:300';
        .zc-ref {
            display: none;
        }
    </script>
    <style>
        {% for a in final %}
            #myChart{{ forloop.counter }} {
                height:100%;
                width:100%;
            }
        {% endfor %}

    </style>
    <section class="content">

        <a type="button" href="{% url 'showalldata' id_sm=id_sm id_cm=id_cm dates=date_start datef=date_finish%}" class="btn bg-navy btn-flat margin">Dataset view</a>

        <div style="float: right;">

            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span></span> <b href="www.ua.pt" class="caret"></b>
            </div>

        </div>

        <br/><br/><br/>

        {% for sensor in allSensor %}
            {% if sensor.id_sensor_type.name  == "Water valve" %}

                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Status valve </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <!--<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button> -->
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        {%  if sensor.status_actuator == 1 %} <div id="log">Enable water valve</div> {% else %} <div id="log">Disable water valve</div> {% endif %}

                        <label class="switch">
                            <input type="checkbox" id="checkbox1" name="checkbox1" {% if sensor.status_actuator == 1 %} checked {% endif %}>
                            <div class="slider round"></div>
                        </label>
                        <br/>
                        <script>
                            $(document).ready(function() {
                                $('#checkbox1').change(function() {
                                    var state = $(this).is(':checked');
                                    if(state==true)
                                        $('#log').html("Enable water valve" );
                                    else
                                        $('#log').html("Disable water valve" );
                                    $.get('/changestatevalve/'+state+'/'+{{ sensor.id }}, function (data) {});
                                });
                            });
                        </script>

                        <br/>

                    </div>
                </div>


            {% endif %}

            {% if sensor.id_sensor_type.name == "Cam" %}


                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Video stream detection</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <!--<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button> -->
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div style="text-align: center;">
                            <iframe width="100%" height="500px"
                                    src="https://www.youtube.com/embed/u1DgsvjYKS4">
                            </iframe>
                        </div>

                    </div>
                </div>

            {% endif %}
        {% endfor %}

        {% if notData %}
            <div class="alert" style="background-color: lightgrey;">
                <h4><i class="icon fa fa-info-circle"></i> Data not available!</h4>
            </div>
        {% endif %}

        {% for name, id, color, values, nrmeasureSensor, maxvalueSensor, minvalueSensor, avg in final %}
            <div>

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ name }} </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <!--<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button> -->
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div id='myChart{{ forloop.counter }}' >
                        <a class="zc-ref"  href="https://www.zingchart.com/">Powered by ZingChart</a>
                    </div>

                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-aqua-gradient">
                            <div class="inner">
                                <h3>{{ nrmeasureSensor }}<sup style="font-size: 20px"></sup></h3>
                                <p>number of measurements</p>
                            </div>
                            <div class="icon"><i class="ion ion-ios-grid-view-outline"></i></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-red-gradient">
                            <div class="inner">
                                <h3>{{ maxvalueSensor }}<sup style="font-size: 20px"></sup></h3>
                                <p>max value</p>
                            </div>
                            <div class="icon"><i class="ion ion-ios-plus-empty"></i></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-green-gradient">
                            <div class="inner">
                                <h3>{{ minvalueSensor }}<sup style="font-size: 20px"></sup></h3>
                                <p>min value</p>
                            </div>
                            <div class="icon"><i class="ion ion-ios-minus-empty"></i></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-yellow-gradient">
                            <div class="inner">
                                <h3>{{ avg }}<sup style="font-size: 20px"></sup></h3>
                                <p>average value</p>
                            </div>
                            <div class="icon"><i class="ion ion-stats-bars"></i></div>
                        </div>
                    </div>

                    <br/>

                    <br/>

                </div>

            </div>

            <br/>
        {% endfor %}

        <br/><br/>

    </section>


    <script>

        {% for name, id, color, values, nrmeasure, maxValueS, minValueS, avg in final %}

            var dates = {{ time_format|safe }};
            var closes = {{ values }};

            var stockState{{ forloop.counter }} = {
                current: '2Y',
                dates: dates,
                closes: closes
            };

            function getCloseConfig{{ forloop.counter }}(dates, values, current) {
                return {
                    type: 'area',
                    backgroundColor: "#ffffff",
                    height: 420,
                    x: 0,
                    y: 0,
                    crosshairX: {
                        shared: true,
                        plotLabel: {
                            backgroundColor: "#00a65a",
                            fontColor: "#ffffff",
                            text: "Value: %v",
                            fontFamily: "Open Sans",
                            y: 0,
                        },
                        scaleLabel: {
                            fontColor: "#ffffff",
                            fontFamily: "Open Sans",
                            backgroundColor: "#00a65a",
                        }
                    },
                    zoom: {
                        shared: true
                    },
                    plotarea: {
                        margin: "60 50 40 50"
                    },
                    plot: {
                        marker: {
                            visible: false
                        }
                    },
                    tooltip: {
                        text: "Value: %v",
                        backgroundColor: "#00a65a",
                        borderColor: "transparent"
                    },
                    scaleY: {
                        guide: {
                            visible: true,
                            lineStyle: 'solid',
                            lineColor: "#347915"
                        },
                        values: "{{ maxValueS }}:{{ minValueS }}:1",
                        item: {
                            fontColor: "#000000",
                            fontFamily: "Open Sans"
                        }
                    },
                    scaleX: {
                        guide: {
                            visible: true,
                            lineStyle: 'solid',
                            lineColor: "#4fbb0f"
                        },
                        values: dates,
                        zooming: {
                            shared: true
                        },
                        item: {
                            fontColor: "#000000",
                            fontFamily: "Open Sans"
                        }
                    },
                    series: [{
                        values: values,
                        lineColor: "#4d78ff",
                        lineWidth: 1,
                        backgroundColor: "#909090 #313131"
                    }],
                    labels: [{
                        x: 490,
                        y: 10,
                        id: '1W',
                        fontColor: (current === '1W') ? "#3B3D3A" : "#777",
                        fontSize: "16",
                        fontFamily: "Open Sans",
                        cursor: "hand",
                        text: "5"
                    }, {
                        x: 530,
                        y: 10,
                        id: '1M',
                        fontColor: (current === '1M') ? "#3B3D3A" : "#777",
                        fontSize: "16",
                        fontFamily: "Open Sans",
                        cursor: "hand",
                        text: "20"
                    }, {
                        x: 570,
                        y: 10,
                        id: '6M',
                        fontColor: (current === '6M') ? "#3B3D3A" : "#777",
                        fontSize: "16",
                        fontFamily: "Open Sans",
                        cursor: "hand",
                        text: "130"
                    }, {
                        x: 610,
                        y: 10,
                        id: '1Y',
                        fontColor: (current === '1Y') ? "#3B3D3A" : "#777",
                        fontSize: "16",
                        fontFamily: "Open Sans",
                        cursor: "hand",
                        text: "260"
                    }, {
                        x: 650,
                        y: 10,
                        id: '2Y',
                        fontColor: (current === '2Y') ? "#3B3D3A" : "#777",
                        fontSize: "16",
                        fontFamily: "Open Sans",
                        cursor: "hand",
                        text: "All"
                    }]
                };
            }


            zingchart.render({
                id: 'myChart{{ forloop.counter }}',
                data: {
                    graphset: [
                        getCloseConfig{{ forloop.counter }}(stockState{{ forloop.counter }}.dates, stockState{{ forloop.counter }}.closes, '2Y'),
                    ]
                },
                height: 450,
                width: 825,

            });


            zingchart.bind('myChart{{ forloop.counter }}', 'label_click', function(e) {
                if (stockState{{ forloop.counter }}.current === e.labelid) {
                    return;
                }

                var windowClose = [];
                var windowDates = [];
                var cut = 0;
                switch (e.labelid) {
                    case '1W':
                        cut = 5;
                        break;
                    case '1M':
                        cut = 20;
                        break;
                    case '6M':
                        cut = 130;
                        break;
                    case '1Y':
                        cut = 260;
                        break;
                    default:
                        cut = stockState{{ forloop.counter }}.dates.length;
                        break;
                }
                windowClose = stockState{{ forloop.counter }}.closes.slice(stockState{{ forloop.counter }}.closes.length - cut);
                windowDates = stockState{{ forloop.counter }}.dates.slice(stockState{{ forloop.counter }}.dates.length - cut);

                zingchart.exec('myChart{{ forloop.counter }}', 'setdata', {

                    data: {
                        graphset: [
                            getCloseConfig{{ forloop.counter }}(windowDates, windowClose, e.labelid),
                        ]
                    }
                });

                stockState{{ forloop.counter }}.current = e.labelid;

            });

        {% endfor %}


    </script>

    <script type="text/javascript">
        $(function () {

            var start = moment();
            var end = moment();

            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            // New code
            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                var startDate = picker.startDate;
                var endDate = picker.endDate;
                var date = startDate.format('YYYY-MM-DD') +"/"+endDate.format('YYYY-MM-DD');
                window.location.href =window.location.href.slice(0, -21) + date;

            });

            cb(start, end);
        });

    </script>

{% endblock %}
