{% extends "layout.html" %}
{% block body %}


<section class="content">

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ message }}
        </div>
    {% endfor %}
{% endif %}


    <div class="box box-default">
        <div class="box-header with-border">
        <h3 class="box-title">All </h3>
        <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <!--<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button> -->
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">

        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
            <tr>
                <th>Status</th>
                <th>Name</th>
                <th>Sensors</th>
                <th>Seding time</th>
                <th>Baterry</th>
                <th>Localization</th>
                <th>Communication</th>
                <th></th>
                <th></th>
                <th></th>

            </tr>
                {% for sm in allSM %}

                    <tr>
                        {% if sm.status_sm == 1 %}
                        <td><span class="label label-success">ON</span></td>
                        {% else %}
                            <td><span class="label label-danger">OFF</span></td>
                        {% endif %}
                        <td>{{ sm.name }}</td>
                        <td>
                        {% for s in sensor %}
                            {% if s.id_sm.id == sm.id %}
                                 <span class="badge bg-teal">{{s.id_sensor_type.name}}</span>  <br/>
                            {% endif %}
                        {% endfor %}
                        
                        </td>
                        <td>{{ sm.seding_time }} min</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                                     aria-valuenow="{{ sm.baterry_sm }}" aria-valuemin="0" aria-valuemax="100"
                                     style="width:{{ sm.baterry_sm }}%"> {{ sm.baterry_sm }}%
                                </div>
                            </div>
                        </td>
                        <td>{{ sm.localization_sm }}</td>
                        <td>

                            {% for c in commPerSM %}
                                {% if c.id_sm.id == sm.id %}
                                    <span class="badge bg-black">{{c.id_communication_type.name }}</span>  <br/>
                                {% endif %}

                            {% endfor %}
                        </td>
                        <td><a type="button"  class="btn btn-block btn-info btn-xs" ><i class="fa fa-edit"></i></a></td>
                        <td><a type="button" href="{% url 'deletesm' id_cm=id_cpu1 id_sm=sm.id  %}" class="btn btn-block btn-danger btn-xs" ><i class="fa fa-trash"></i></a></td>
                        <td><a type="button" href="{% url 'viewSensors' id_cm=id_cpu1  id_sm=sm.id %}" class="btn btn-block btn-info btn-xs" ><i class="fa fa-bar-chart"></i></a></td>

                    </tr>

                {% endfor %}

            </table>
        </div>
    </div>

</div>


<button type="submit" class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal">Add</button>


</section>




<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add new sensor module to {{ titlesmall }}</h4>
      </div>
      <div class="modal-body">

    <form class="form-horizontal" method="post" action="."> {% csrf_token %}

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Name</label>

            <div class="col-sm-9">
                <input type="text" name="name" class="form-control" placeholder="Name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Seding time	</label>

            <div class="col-sm-9">
                <input type="number" name="seding" class="form-control" id="inputEmail3" placeholder="Seding time">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Initial status</label>

            <div class="col-sm-9">

                <label class="switch">
                    <input type="checkbox" name="status">
                    <div class="slider round"></div>
                </label>

            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Communication</label>
            <div class="col-sm-9">
                <select class="form-control select2" name="communication" multiple="multiple" data-placeholder="Select users" style="width: 100%;">
                    {% for ct in commtype%}
                        <option>{{ ct.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Sensor</label>
            <div class="col-sm-9">
                <select class="form-control select2" name="sensors" multiple="multiple" data-placeholder="Select users" style="width: 100%;">
                    {% for st in sensortype%}
                        <option>{{ st.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- /.box-body -->
        <div class="box-footer">
        <button type="submit" class="btn btn-info pull-right">Add</button>
        </div>
    <!-- /.box-footer -->
    </form>
    </div>

    </div>

  </div>
</div>


<script>
  $(function () {
    //Initialize Select2 Elements
    $(".select2").select2();

    //Datemask dd/mm/yyyy
    $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
    //Datemask2 mm/dd/yyyy
    $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
    //Money Euro
    $("[data-mask]").inputmask();

    //Date range picker
    $('#reservation').daterangepicker();
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
    //Date range as a button
    $('#daterange-btn').daterangepicker(
        {
          ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          },
          startDate: moment().subtract(29, 'days'),
          endDate: moment()
        },
        function (start, end) {
          $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
    );

    //Date picker
    $('#datepicker').datepicker({
      autoclose: true
    });

    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass: 'iradio_minimal-blue'
    });
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass: 'iradio_minimal-red'
    });
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass: 'iradio_flat-green'
    });

    //Colorpicker
    $(".my-colorpicker1").colorpicker();
    //color picker with addon
    $(".my-colorpicker2").colorpicker();

    //Timepicker
    $(".timepicker").timepicker({
      showInputs: false
    });
  });
</script>


{% endblock %}
