{% extends "layout.html" %}
{% block body %}




<section class="content">


{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <i class="icon fa fa-check"></i>{{ message }}
</div>
{% endfor %}
{% endif %}










    <div class="box box-default">
        <div class="box-header with-border">
    </div>
    <!-- /.box-header -->
    <div class="box-body">

        <div class="box-body table-responsive no-padding">
            {% if notCm %}
                <h4><i class="fa fa-info-circle" aria-hidden="true"></i> No controller module available.</h4>
                <p>Add one!</p>
            {% endif %}

            {% if not notCm %}
                <table class="table table-hover">
                <tr>
                    <th>Status</th>
                    <th>Name</th>
                    <th>Create by </th>
                    <th>Battery</th>
                    <th>Memory </th>
                    <th>Communication</th>
                    <th>Localization</th>
                    <th>Managers</th>
                    <th></th>
                    <th></th>
                    <th></th>

                </tr>
                    {% for cpu in allCPUs %}

                        <tr>
                            {% if cpu.status_cm == 1 %}
                            <td><span class="label label-success">ON</span></td>
                            {% else %}
                                <td><span class="label label-danger">OFF</span></td>
                            {% endif %}
                            <td>{{ cpu.name }}</td>
                            <td>{{ cpu.id_by_create.username }} ({{ cpu.date_create|date:"d M Y" }})</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                                         aria-valuenow="{{ cpu.baterry_cm }}" aria-valuemin="0" aria-valuemax="100"
                                         style="width:{{ cpu.baterry_cm }}%"> {{ cpu.baterry_cm }}%
                                    </div>
                                </div>
                            </td>
                            <td>{{ cpu.memory }}</td>
                            <td>{{ cpu.id_communication.name  }}</td>
                            <td>{{ cpu.localization_cm }}</td>
                            <td>

                            {% for user in userAll %}

                                {% if user.id_cm_id == cpu.id %}
                                    {{ user.id_user }};
                                {% endif %}
                            {% endfor %}
                            </td>
                            <td><a type="button"  class="btn btn-block btn-info btn-xs" ><i class="fa fa-edit"></i></a></td>
                            <td><a type="button" href="{% url 'deletecm' id_cpu=cpu.id %}" class="btn btn-block btn-danger btn-xs" ><i class="fa fa-trash"></i></a></td>
                            <td><a type="button" href="{% url 'showdetails' id_cm=cpu.id %}" class="btn btn-block btn-info btn-xs" ><i class="fa fa-search"></i></a></td>

                        </tr>

                    {% endfor %}

                </table>
            {% endif %}
        </div>
    </div>

</div>

<br/>


<button type="submit" class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal">Add</button>

</section>



    <div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Deseja eliminar Controler CPU?</h4>
                </div>

                <a class="modal-body edit-content"></a>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>




<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add new Controller model</h4>
      </div>
      <div class="modal-body">

    <form class="form-horizontal" method="post" action="."> {% csrf_token %}

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Name</label>

            <div class="col-sm-9">
                <input type="text" name="name" class="form-control" placeholder="Name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Memory</label>

            <div class="col-sm-9">
                <input type="number" name="memory" class="form-control" id="inputEmail3" placeholder="Memory">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Initial status</label>

            <div class="col-sm-9">

                <label class="switch">
                    <input type="checkbox" name="status">
                    <div class="slider round"></div>
                </label>

            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Communication</label>

            <div class="col-sm-9">
                <select class="form-control" name="comm">
                    {% for comm in communicationAll %}
                        <option value="{{comm.id}}" >{{ comm.name }}</option>
                    {% endfor %}

                </select>


            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Managers</label>
            <div class="col-sm-9">
                <select class="form-control select2" name="managers" multiple="multiple" data-placeholder="Select users" style="width: 100%;">
                    {% for u in totaluser%}
                        {% if u.username != user.username %}
                            <option>{{ u.username }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>


        <!-- /.box-body -->
        <div class="box-footer">
        <button type="submit" class="btn btn-info pull-right">Add</button>
        </div>
    <!-- /.box-footer -->
    </form>
    </div>

    </div>

  </div>
</div>

    <script>
  $(function () {
    //Initialize Select2 Elements
    $(".select2").select2();

    //Datemask dd/mm/yyyy
    $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
    //Datemask2 mm/dd/yyyy
    $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
    //Money Euro
    $("[data-mask]").inputmask();

    //Date range picker
    $('#reservation').daterangepicker();
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
    //Date range as a button
    $('#daterange-btn').daterangepicker(
        {
          ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          },
          startDate: moment().subtract(29, 'days'),
          endDate: moment()
        },
        function (start, end) {
          $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
    );

    //Date picker
    $('#datepicker').datepicker({
      autoclose: true
    });

    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass: 'iradio_minimal-blue'
    });
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass: 'iradio_minimal-red'
    });
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass: 'iradio_flat-green'
    });

    //Colorpicker
    $(".my-colorpicker1").colorpicker();
    //color picker with addon
    $(".my-colorpicker2").colorpicker();

    //Timepicker
    $(".timepicker").timepicker({
      showInputs: false
    });
  });
</script>

{% endblock %}
